html{
    touch-action: pan-y;
    background: #F8FAFF;
}
body{
    margin:0;padding:0;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    width: 100%;
    height: 100vh;
    font-size: 13px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #49565E;//#063B4C;
}
.logo-width{
    width: 2.7rem;
}
.logo-computer{
    display: block;
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    // background: url('../../assect/computer.png') no-repeat;
    // background-size: 100%;
    border-radius: 50% 12%;
}
.doc{ padding: 0.5rem;}
.doc h2{font-size: 25px;color: #333;font-weight: 400;
    font-family: Lato,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;}

.transf, .transf .pages{
    /*transition: all 0.2s;*/
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}
.transP, .transP .pages{
    /*transition: all 0.2s;*/
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.doc-enter {
    transform: translate3d(0%,0%,0);
    position: absolute;
    width: 100vw;
}
.doc-leave {
    transform: translate3d(0%,100%,0);
    position: absolute;
    width: 100vw;
}
.doc-leave-end {
    transform: translate3d(0%,-50%,0);
    position: absolute;
    width: 100vw;
}


.title-enter {
    transform: translate3d(0%,0%,0);
    position: absolute;
    opacity: 1;
}
.title-leave {
    transform: translate3d(100%,0%,0);
    position: absolute;
    opacity: 0;
}
.title-leave-end {
    transform: translate3d(-100%,0%,0);
    position: absolute;
    opacity: 0;
}

.hover-itm:hover{
    transition: all 0.5s ease-out;
    box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.2)
}

.pageContent{
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.has-header{
    padding-top: 3rem;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.img_bg{
    background-size:240%!important;
    background-position: 12% 10% !important;
    -webkit-filter: blur(10px)!important;
}
.carousel-container{
    .carousel-dot{
        width: 0.4rem!important;
        height: 0.4rem!important;
        border-radius: 0.5rem!important;
        &.active{
            background: transparent;
            border: 1px solid #fff;
        }
        &.default{
            background: #fff;
        }

    }
}

.articles{
    .image-package{
        width: 100%!important;
    }
    img{
        width: 100%;
    }
}


.scroller{
    scrollbar-arrow-color: #f4ae21; /*三角箭头的颜色*/ 
    scrollbar-face-color: #666; /*立体滚动条的颜色*/ 
    /*scrollbar-3d-light-color: #666; 立体滚动条亮边的颜色*/ 
    scrollbar-highlight-color: #666; /*滚动条空白部分的颜色*/ 
    scrollbar-shadow-color: #999; /*立体滚动条阴影的颜色*/ 
    scrollbar-darkshadow-color: #666; /*立体滚动条强阴影的颜色*/ 
    scrollbar-track-color: #666; /*立体滚动条背景颜色*/ 
    scrollbar-base-color:#f8f8f8; /*滚动条的基本颜色*/
}
.scroller-thin{
    scrollbar-arrow-color: #fff; /*三角箭头的颜色*/ 
    scrollbar-face-color: #fff; /*立体滚动条的颜色*/ 
    /*scrollbar-3d-light-color: #fff; 立体滚动条亮边的颜色*/ 
    scrollbar-highlight-color: #fff; /*滚动条空白部分的颜色*/ 
    scrollbar-shadow-color: #fff; /*立体滚动条阴影的颜色*/ 
    scrollbar-darkshadow-color: #fff; /*立体滚动条强阴影的颜色*/ 
    scrollbar-track-color: #fff; /*立体滚动条背景颜色*/ 
    scrollbar-base-color:#fff; /*滚动条的基本颜色*/
}
.scroller-body{
    scrollbar-arrow-color: #fff; /*三角箭头的颜色*/ 
    scrollbar-face-color: #fff; /*立体滚动条的颜色*/ 
    /* scrollbar-3d-light-color: #fff; 立体滚动条亮边的颜色*/ 
    scrollbar-highlight-color: #fff; /*滚动条空白部分的颜色*/ 
    scrollbar-shadow-color: #fff; /*立体滚动条阴影的颜色*/ 
    scrollbar-darkshadow-color: #fff; /*立体滚动条强阴影的颜色*/ 
    scrollbar-track-color: #fff; /*立体滚动条背景颜色*/ 
    scrollbar-base-color:#fff; /*滚动条的基本颜色*/
}
.scroller-body::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分（位置5）*/
    background:#666;
    border-radius:3rem;
    &:hover {
      background:#333;
    }
    // box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.9)
}
.scroller-thin::-webkit-scrollbar{/*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width:6px;
    height:6px;
    &:hover {
      width:10px;
      height:10px;
    }
}

.scroller::-webkit-scrollbar{/*滚动条整体部分，其中的属性有width,height,background,border等（就和一个块级元素一样）（位置1）*/
    width:6px;
    height:8px;
    &:hover {
      width:10px;
      height:10px;
    }
}
.scroller::-webkit-scrollbar-button{/*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
    background:transparent;
    width: 0;
}
.scroller::-webkit-scrollbar-track{/*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
    background:transparent;
}
.scroller::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分（位置4）*/
    background:transparent;
}
.scroller::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分（位置5）*/
    background:#cfcfcf;
    border-radius:3rem;
    // box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.9)
    &:hover {
      background:#666;
      width:10px;
      height:10px;
    }
}
.scroller-dark::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分（位置5）*/
    background:#ccc;
    border-radius:3rem;
    // box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.9)
    &:hover {
      background:#666;
      width:10px;
      height:10px;
    }
}
.scroller::-webkit-scrollbar-corner {/*边角（位置6）*/
    background:#f8f8f8; 
}
.scroller::-webkit-scrollbar-resizer  {/*定义右下角拖动块的样式（位置7）*/
    background:#f8f8f8;
}

.scroller-thin::-webkit-scrollbar-button{/*滚动条两端的按钮，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置2）*/
    background:transparent;
    width: 0;
}
.scroller-thin::-webkit-scrollbar-track{/*外层轨道，可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果（位置3）*/
    background:transparent;
}
.scroller-thin::-webkit-scrollbar-track-piece{/*内层轨道，滚动条中间部分（位置4）*/
    background:transparent;
}
.scroller-thin::-webkit-scrollbar-thumb{/*滚动条里面可以拖动的那部分（位置5）*/
    background:#fff;
    border-radius:3rem;
    // box-shadow:  0px 0px 25px 0px rgba(0, 0, 0, 0.9)
    &:hover {
      background:#999;
      width:10px;
      height:10px;
    }
}

.menu-height{
    height: calc(100vh - 10.7rem);
}


.project-height{
    height: auto;
    max-height: calc(100vh - 8rem);
}

.container-height{
    height: calc(100vh - 3.2rem);
}

.user-info{
    line-height: 2.2rem;
    height: 2.2rem
}
input:-internal-autofill-selected{
    background: #fff!important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #333 !important;
    background-color: transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
}
.phone-container{
    width: 375px;
    height: 667px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 20px;
    background: #fff;
}
